
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Big 5 Personality Test</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                <li><a class="dropdown-item" routerLink="/editprofile">Edit Profile</a></li>
                <li><a class="dropdown-item" routerLink="/logout">Logout</a></li>
            </ul>


            <div class="collapse navbar-collapse center-links" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="/exam">Exam</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="/dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>

            <div class="ml-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle user-icon" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-lg"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/editprofile">Edit Profile</a>
                        <a class="dropdown-item" href="#" onclick="logoutHandler()">Logout</a>
                    </div>
                </div>
            </div>

        </div>
    </nav>
</header>

<!-- Information about Website  -->

<div class="col-md-12 text-center mb-4">
    <h2 class="section-heading">Discover Your Personality with the Big Five Test</h2>
  </div>
  
  <div class="container" id="a1">
    <div class="row">
        <div class="col-md-6 pqr">
            <img src="./assets/Images/F4.jpg" alt="placeholder" class="img-fluid">
        </div>
        <div class="col-md-6 abc" id="main-content">
            <div class="col-md-7">
                <p class="description">Welcome to our online guide to the Big Five Personality Test - a powerful tool for understanding and exploring the intricacies of your personality. Uncover the five key dimensions that shape who you are and gain valuable insights into your unique traits.</p>
            </div>
  
            <h3 class="sub-heading">Dive into the Big Five Dimensions:</h3>
  
            <ol>
                <li>
                  <h4>Openness to Experience:</h4>
                </li>
        
                <li>
                  <h4>Conscientiousness:</h4>
                </li>
        
                <li>
                  <h4>Extraversion:</h4>
                </li>
        
                <li>
                  <h4>Agreeableness:</h4>
                </li>
        
                <li>
                  <h4>Neuroticism (Emotional Stability):</h4>
                </li>
            </ol>
  
            <div class="row dimensions">
              <div class="col-md-7">
                  <h3 class="sub-heading">Take the Test:</h3>
                  <p class="description">Embark on your personal journey by taking the Big Five Personality Test. Click <a href="#" class="test-link">here</a> to discover your unique personality profile. It only takes a few minutes, and the results can be eye-opening!</p>
              </div>
          </div>
  
          <div class="row dimensions">
              <div class="col-md-7">
                  <h3 class="sub-heading">Practical Applications:</h3>
                  <p class="description applications">Explore how understanding your personality can impact your life. From career choices to relationships, learn how your traits influence various aspects of your daily experiences.</p>
              </div>
          </div>
      </div>
  </div>
  </div>
  <br><br><br>

  <!-- *********************************************************************** -->

  <div class="col-md-12 text-center mb-4">
    <h2 class="section-heading">Discover Your Personality with the Big Five Test</h2>
  </div>
  
  <div class="container" id="a1">
    <div class="row">
        <div class="col-md-6 pqr">
            <img src="./assets/Images/F4.jpg" alt="placeholder" class="img-fluid">
        </div>
        <div class="col-md-6 abc" id="main-content">
            <div class="col-md-7">
                <p class="description">Welcome to our online guide to the Big Five Personality Test - a powerful tool for understanding and exploring the intricacies of your personality. Uncover the five key dimensions that shape who you are and gain valuable insights into your unique traits.</p>
            </div>
  
            <h3 class="sub-heading">Dive into the Big Five Dimensions:</h3>
  
            <ol>
                <li>
                  <h4>Openness to Experience:</h4>
                </li>
        
                <li>
                  <h4>Conscientiousness:</h4>
                </li>
        
                <li>
                  <h4>Extraversion:</h4>
                </li>
        
                <li>
                  <h4>Agreeableness:</h4>
                </li>
        
                <li>
                  <h4>Neuroticism (Emotional Stability):</h4>
                </li>
            </ol>
  
            <div class="row dimensions">
              <div class="col-md-7">
                  <h3 class="sub-heading">Take the Test:</h3>
                  <p class="description">Embark on your personal journey by taking the Big Five Personality Test. Click <a href="#" class="test-link">here</a> to discover your unique personality profile. It only takes a few minutes, and the results can be eye-opening!</p>
              </div>
          </div>
  
          <div class="row dimensions">
              <div class="col-md-7">
                  <h3 class="sub-heading">Practical Applications:</h3>
                  <p class="description applications">Explore how understanding your personality can impact your life. From career choices to relationships, learn how your traits influence various aspects of your daily experiences.</p>
              </div>
          </div>
      </div>
  </div>
  </div>
  <br><br><br>

<!-- footer section starts -->
<section class="footer">

    <div class="box-container">
  
      <div class="box">
        <h3>Big5 Personality Test</h3>
        <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br /> <br /> Please wait for a while all major projects will be listed soon. Till then keep visiting. Connect with me over live chat!</p>
      </div>
  
      <div class="box">
        <h3>Quick links</h3>
        <a href="#home"><i class="fas fa-chevron-circle-right"></i> Home</a>
        <a href="#about-us"><i class="fas fa-chevron-circle-right"></i> About</a>
        <a href="#contact-us"><i class="fas fa-chevron-circle-right"></i> Skills</a>
        <!-- <a href="#education"><i class="fas fa-chevron-circle-right"></i> Education</a>
        <a href="#work"><i class="fas fa-chevron-circle-right"></i> Work</a>
        <a href="#experience"><i class="fas fa-chevron-circle-right"></i> Experience</a> -->
      </div>
  
      <div class="box">
        <h3>contact info</h3>
  
        <p> <i class="fas fa-envelope"></i>hfaiz2111.com</p>
        <p> <i class="fas fa-map-marked-alt"></i>Puen, India-411060</p>
        <div class="share">
          <a href="https://www.linkedin.com/in/mohammad-faiz-3594601bb/" class="fa-brands fa-linkedin" target="_blank"></a>
          <a href="https://github.com/Faiz2111" class="fab fa-github" target="_blank"></a>
          <a href="mailto:hfaiz2111@gmail.com" class="fas fa-envelope" target="_blank"></a>
          <!-- <a href="https://www.linkedin.com/in/mohammad-faiz-3594601bb/" class="fab fa-linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/Faiz2111" class="fab fa-github" target="_blank"><i class="fab fa-github"></i></a>
          <a href="mailto:hfaiz2111@gmail.com" class="fas fa-envelope" target="_blank"><i class="fas fa-envelope"></i></a> -->
        </div>
      </div>
    </div>
  
    <h1 class="credit">Designed with <i class="fa fa-heart pulse"></i> by <a href="https://www.linkedin.com/in/mohammad-faiz-3594601bb/"> Mohammad Faiz</a></h1>
  
  </section>
  <!-- footer section ends -->

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js"></script>
