<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
    <h2>Survey</h2>
    <div class="row">
        <div class="col-6">
            <h4>Questions</h4>
            <p>Do you like the product?</p>
            <!-- Add more questions here -->
        </div>
        <div class="col-6">
            <h4>Answer Options</h4>
            <form>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answer" id="answer1" value="Strongly Disagree">
                    <label class="form-check-label" for="answer1">Strongly Disagree</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answer" id="answer2" value="Disagree">
                    <label class="form-check-label" for="answer2">Disagree</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answer" id="answer3" value="Neutral">
                    <label class="form-check-label" for="answer3">Neutral</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answer" id="answer4" value="Agree">
                    <label class="form-check-label" for="answer4">Agree</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answer" id="answer5" value="Strongly Agree">
                    <label class="form-check-label" for="answer5">Strongly Agree</label>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>