<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container main-container">
  <div class="row">
      <div class="col-md-6 question-container">
          <h3>Question 1:</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-md-6 options-container">
          <h4 class="options-heading">Answer Options:</h4>
          <div class="option">
              <input type="radio" id="option1" name="answer" value="Strongly Disagree">
              <label for="option1">Strongly Disagree</label>
          </div>
          <div class="option">
              <input type="radio" id="option2" name="answer" value="Disagree">
              <label for="option2">Disagree</label>
          </div>
          <div class="option">
              <input type="radio" id="option3" name="answer" value="Neutral">
              <label for="option3">Neutral</label>
          </div>
          <div class="option">
              <input type="radio" id="option4" name="answer" value="Agree">
              <label for="option4">Agree</label>
          </div>
          <div class="option">
              <input type="radio" id="option5" name="answer" value="Strongly Agree">
              <label for="option5">Strongly Agree</label>
          </div>
      </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->


<!-- 8888888888888888888888888888888888888888888888888888 -->




<p>
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <br><br><br>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <br><br><br><br>

  <div >
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <example-tel-input formControlName="tel" required></example-tel-input>
      <mat-icon matSuffix>phone</mat-icon>
      <mat-hint>Include area code</mat-hint>
    </mat-form-field>
  </div>
  
  























