  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Hi, {{Username}}</h1>
      </div>
    </div>
    <div class="row mt-6 ">
      <div class="col-lg-4">
        <div class="card p-5 shadow ">
            <h5 class="card-title mb-5">characteristic Report</h5>
            <div class="characteristics left-align">
              <div class="card characteristic">
                <div class="card-body">
                  <h6 class="card-title">Openness <span class="content-in-corner">{{OpennessM}}</span></h6>
                   </div>
              </div>

               <div class="card characteristic">
                <div class="card-body">
                  <h6 class="card-title">Extraversion <span class="content-in-corner">{{ExtraversionM}}</span></h6>
                </div>
              </div>

              <div class="card characteristic">
                <div class="card-body">
                  <h6 class="card-title">conscientiousness  <span class="content-in-corner">{{conscientiousnessM}}</span></h6>
                </div>
              </div>
              <div class="card characteristic">
                <div class="card-body">
                  <h6 class="card-title">Agreeableness  <span class="content-in-corner">{{AgreeablenessM}}</span></h6>
                </div>
              </div>
              <div class="card characteristic">
                <div class="card-body">
                  <h6 class="card-title">Neuroticism <span class="content-in-corner">{{NeuroticismM}}</span></h6>
                </div>
              </div>
              <div class="card characteristic">
                <div class="card-body">
                  <h6 class="card-title mb-4">Total Marks<span class="content-in-corner">{{Total}}</span></h6>
                </div>
              </div>
            
         
          </div>
          
      </div>
    </div>
  </div> 


     
 

