<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div id="main-container" class="container">

    <div id="instruction">
        <h2 class="text-center">Exam Instructions</h2>
        <p class="text-center">This is a sample exam. Please read the instructions carefully before starting the exam.</p>
    </div>

    <div id="additional-instructions">
      <h3>General News and Announcements</h3>
      <ol>
        <li>Your respective exam will be for 2 hr & 15 mins.</li>
        <li>Make sure you scan and upload the pdf of your answer sheet within the exam time.</li>
        <li>If you fail to upload the answer sheet within exam time, you will fail the exam.</li>
        <li>Only 1 PDF is allowed to be uploaded as an answer sheet. Make sure you merge scan and upload 1 pdf document.</li>
        <li>Your Answer sheet name must be I-Card ID Number_Paper name (e.g.- 23546124_Core Applications of Blockchain)</li>
        <li>Write sheet number in the top right corner of the answer sheet.</li>
        <li>The exam will be conducted in proctored mode hence please make sure that your Webcam is working correctly.</li>
        <li>Make sure your webcam is continuously ON.</li>
        <li>Your internet connection must be strong to complete the exam.</li>
      </ol>
    </div>
    
    <div class="form-check text-center">
      <input type="checkbox" class="form-check-input" id="read-instructions" [(ngModel)]="isCheckboxChecked" name="readInstructions"
       required #readInstructions="ngModel">
      <label class="form-check-label" for="read-instructions">I have read all the instructions</label>
    </div>

    <div class="text-center mt-3">
        <button id="start-btn" class="btn btn-info"  [disabled]="!isCheckboxChecked" (click)="startExam()">Start Exam</button>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  