<!-- <app-test></app-test> -->

<!-- <app-test-f></app-test-f> -->

<!-- <app-carousel></app-carousel> -->

<!-- <app-login></app-login>   -->

<!-- <app-change-password></app-change-password> -->

<!-- <app-welcome></app-welcome> -->

<!-- <app-register></app-register> -->

<!-- <app-home></app-home> -->

<!-- <app-register></app-register>   -->

<!-- <app-profile></app-profile>-->

<!-- <app-editcomp> </app-editcomp>  -->

<!-- <app-exam></app-exam> -->

<!-- <app-profile></app-profile> -->

<!-- <app-editcomp> </app-editcomp> -->

<!-- <app-timer></app-timer> -->

<!-- <app-question></app-question> -->

<!-- <app-notfound></app-notfound> -->

<!-- <app-timer></app-timer> -->
<!-- pre loader -->
<!-- <div class="loader-container">
  <img draggable="false" src="./assests/Images/preloader.gif" alt="">
</div> -->

<router-outlet></router-outlet>